[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Static code review for your Gerrit patchsets. Runs Checkstyle, PMD, FindBugs, Scalastyle, CodeNarc, JSLint for you!
[access "refs/*"]
	owner = group user/Mafouz (MahfoudBrizini)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mafouz (MahfoudBrizini)
	label-Verified = -1..+1 group user/Mafouz (MahfoudBrizini)
	push = group user/Mafouz (MahfoudBrizini)
	read = group user/Mafouz (MahfoudBrizini)
	rebase = group user/Mafouz (MahfoudBrizini)
	removeReviewer = group user/Mafouz (MahfoudBrizini)
	submit = group user/Mafouz (MahfoudBrizini)
[access "refs/heads/*"]
	create = group user/Mafouz (MahfoudBrizini)
	push = +force group user/Mafouz (MahfoudBrizini)
	pushMerge = group user/Mafouz (MahfoudBrizini)
	read = group user/Mafouz (MahfoudBrizini)
[access "refs/tags/*"]
	push = group user/Mafouz (MahfoudBrizini)
	push = +force group user/Mafouz (MahfoudBrizini)
